@model RouteMaster.Models.ViewModels.ExtraServiceEditVM


<h2>額外服務項目詳細資訊</h2>

<div>
   
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttractionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttractionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>  
    <a href="@Url.Action("Index")" class="btn btn-css-warning">返回清單頁面</a>
</p>
