@model RouteMaster.Models.ViewModels.ExtraServiceEditVM



<h2>編輯額外服務項目</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })           
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-danger" })           
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.AttractionId, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.DropDownList("AttractionId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AttractionId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-label col-md-2" })           
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" , type = "number", min = "0" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })          
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label col-md-2" })           
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })           
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-label col-md-2" })            
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>           
        </div>

        <div class="mb-3">
            <input type="submit" value="儲存變更" class="btn btn-primary" />
            <a href="@Url.Action("Index")" class="btn btn-warning">返回清單頁面</a>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
