@model IEnumerable<RouteMaster.Models.ViewModels.ExtraServiceIndexVM>

@section Styles
{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" />
    <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />

    <style>
        thead {
            background-color: gainsboro;
            color: white;
        }

        .table > thead {
            background-color: rgba(255, 99, 71, 0.4);
        }

        .table > thead th {
            font-size: 18px;
        }

        table > tbody tr {
            font-size: 13px;
            color: #697a8D;
        }

        .vertical-align-center {
            vertical-align: middle;
        }

        .small-button {
            padding: 5px 10px;
            font-size: 12px;
        }
        .center-align {
            text-align: center;
        }
    </style>
}


<h2>額外服務項目一覽</h2>






<p>
    <button type="button" onclick="location.href='@Url.Action("Create")'" class="btn btn-success">新增額外服務項目</button>
</p>









<table id="extraServiceTable" class="table table-hover vertical-align-center align-middle">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th style="width: 200px; text-align: center;">@Html.DisplayNameFor(model => model.AttractionName)</th>
            <th style="text-align:center;">@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th style="width:200px; text-align:center;">@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-3 ">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-1 center-align">
                    @Html.DisplayFor(modelItem => item.AttractionName)
                </td>
                <td class="col-md-1 center-align">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.DescriptionText)
                </td>
                <td class="col-md-1 center-align">
                    @Html.DisplayFor(modelItem => item.StatusText)
                </td>
                <td class="col-md-1">
                    <button type="button" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" class="btn btn-primary">編輯</button>
                    <button type="button" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" class="btn btn-warning">詳情</button>
                    @*<button type="button" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'" class="btn btn-danger">刪除</button>*@
                </td>
            </tr>
        }
    </tbody>
</table>



























@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>



    <script>
        

        new DataTable('#extraServiceTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
            },
            responsive: true
        });



        //disabled掉全域搜尋
        //disabled掉th點擊的排序功能，只保留分頁功能跟
        //todo 引入自己的篩選條件最好是用ajax完成，來不及就算了
    </script>
}