@model RouteMaster.Models.ViewModels.AttractionDetailVM

@{
    ViewBag.Title = "刪除景點";
}

<h2>刪除景點</h2>

<h3>您確定要刪除嗎?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!--放錯誤訊息用的-->
        <dt>
            類別
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            縣市
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            鄉鎮市區
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            標籤
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            經度
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionX)
        </dd>

        <dt>
            緯度
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionY)
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            網站
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            平均分數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageScoreText)
        </dd>

        <dt>
            平均停留時數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageStayHoursText)
        </dd>

        <dt>
            平均花費
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePriceText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-danger" /> |
            @Html.ActionLink("返回景點列表", "Index",null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
