@model IEnumerable<RouteMaster.Models.ViewModels.AttractionIndexVM>

@section Styles
    {

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">*@

   

    <style>
       /* thead {
            background-color: gainsboro;
            color: white;
        }

        .table > thead {
            background-color: rgba(255, 99, 71, 0.4);
        }

            .table > thead th {
                font-size: 14px;
            }*/
        thead {
            background-color: gainsboro;
            color: white;
        }

        .table > thead {
            background-color: rgba(255, 99, 71, 0.4);
        }

        .table > thead th {
            font-size: 18px;
        }

        table > tbody tr {
            font-size: 15px;
            color: #697a8D;
        }

        .vertical-align-center {
            vertical-align: middle;
        }

        .small-button {
            padding: 5px 10px;
            font-size: 13px;
        }
    </style>
}


@{
    ViewBag.Title = "景點列表";

    var categories = ViewBag.AttractionCategories as SelectList;
    var regions = ViewBag.Regions as SelectList;
    var towns = ViewBag.Towns as SelectList;
    var tags = ViewBag.Tags as SelectList;

    var criteria = ViewBag.Criteria as RouteMaster.Models.ViewModels.AttractionCriteria;

    string s_category = criteria.Category;
    string s_region = criteria.Region;
    string s_town = criteria.Town;
    string s_tag = criteria.Tag;
}

<h2>景點列表</h2>

<p>
    @Html.ActionLink("新增景點", "Create", null, new { @class = "btn btn-success" })
</p>



<section class="container">
    <form method="get">
        <div class="row">

            <div class="mb-3 col-md-3">
                <label for="s_category">類別</label>
                <select name="category" id="s_category" class="form-select">
                    @foreach (var item in categories)
                    {
                        <option value="@item.Text" @(item.Text == s_category ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>

            <div class="mb-3 col-md-3">
                <label for="s_region">縣市</label>
                <select name="region" id="s_region" class="form-select">
                    @foreach (var item in regions)
                    {
                        <option value="@item.Text" @(item.Text == s_region ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>

            <div class="mb-3 col-md-3">
                <label for="s_town">鄉鎮</label>
                <select name="town" id="s_town" class="form-select">
                    @foreach (var item in towns)
                    {
                        <option value="@item.Text" @(item.Text == s_town ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>

            <div class="mb-3 col-md-3">
                <label for="s_tag">標籤</label>
                <select name="tag" id="s_tag" class="form-select">
                    @foreach (var item in tags)
                    {
                        <option value="@item.Text" @(item.Text == s_tag ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>

            @*<div class="mb-3 col-md-3">
                    <label for="s_name">名稱</label>
                    <input type="text" class="form-control" name="name" id="s_name" value="@criteria.Name">

                </div>*@

            <div class="mb-3 col-md-4">
                <label for="s_minScore" style="display: block">平均分數</label>
                <input type="number" class="form-control" name="minScore" id="s_minScore" style="width: 40%; display: inline" value="@criteria.MinScore" min="0" max="5"> ~
                <input type="number" class="form-control" name="maxScore" id="s_maxScore" style="width: 40%; display: inline" value="@criteria.MaxScore" min="0" max="5">

            </div>

            <div class="mb-3 col-md-4">
                <label for="s_minHours" style="display: block">平均停留時數</label>
                <input type="number" class="form-control" name="minHours" id="s_minHours" style="width: 40%; display: inline" value="@criteria.MinHours" min="0"> ~
                <input type="number" class="form-control" name="maxHours" id="s_maxHours" style="width: 40%; display: inline" value="@criteria.MaxHours" min="0">

            </div>

            <div class="mb-3 col-md-4">
                <label for="s_minPrice" style="display: block">平均花費</label>
                <input type="number" class="form-control" name="minPrice" id="s_minPrice" style="width: 40%; display: inline" value="@criteria.MinPrice" min="0"> ~
                <input type="number" class="form-control" name="maxPrice" id="s_maxPrice" style="width: 40%; display: inline" value="@criteria.MaxPrice" min="0">

            </div>



            <div class="mb-3 col-md-2 align-self-end">
                <button class="btn btn-info" id="clear">清空條件</button>
                <button class="btn btn-warning" id="search">搜尋</button>
            </div>
        </div>
    </form>
</section>


<table class="table table-hover vertical-align-center align-middle" id="dataTable">
    <thead>
        <tr>
            <th></th>
            <th class="align-middle">
                類別 @*@Html.DisplayNameFor(model => model.Category)*@
            </th>
            <th class="align-middle">
                縣市 @*@Html.DisplayNameFor(model => model.Region)*@
            </th>
            <th class="align-middle">
                鄉鎮 @*@Html.DisplayNameFor(model => model.Town)*@
            </th>
            <th class="align-middle">
                名稱 @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th class="align-middle">
                敘述 @*@Html.DisplayNameFor(model => model.DescriptionText)*@
            </th>
            <th class="align-middle ">
                平均<br>分數 @*@Html.DisplayNameFor(model => model.AverageScoreText)*@
            </th>
            <th class="align-middle ">
                平均停<br>留時數 @*@Html.DisplayNameFor(model => model.AverageStayHoursText)*@
            </th>
            <th class="align-middle">
                平均<br>花費 @*@Html.DisplayNameFor(model => model.AveragePriceText)*@
            </th>
            <th class="align-middle text-center">
                標籤
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("Details", new { id = item.Id })'">
                <td class="align-middle">
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="~/Uploads/@item.Image" width="100px" style="object-fit: cover; height: 75px" />
                    }
                </td>
                <td class="align-middle col-md-1">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="align-middle col-md-1">
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td class="align-middle col-md-1">
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td class="align-middle col-md-1">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle col-md-2">
                    @Html.DisplayFor(modelItem => item.DescriptionText)
                </td>
                <td class="align-middle ">
                    @Html.DisplayFor(modelItem => item.AverageScoreText)
                </td>
                <td class="align-middle ">
                    @Html.DisplayFor(modelItem => item.AverageStayHoursText)
                </td>
                <td class="align-middle ">
                    @Html.DisplayFor(modelItem => item.AveragePriceText)
                </td>
                <td class="align-middle text-center">
                    <span class="badge bg-primary">@item.Tag</span>
                </td>
                <td class="align-middle">
                    @Html.ActionLink("景點詳情", "Details", new { id = item.Id }, new { @class = "d-none" })
                    @Html.ActionLink("編輯景點", "Edit", new { id = item.Id }, new { @class = "btn btn-primary"}) 
                    @Html.ActionLink("管理圖片", "ImagesIndex", new { id = item.Id }, new { @class = "btn btn-outline-primary" }) 
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </tbody>


</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>




    <script>
        new DataTable('#dataTable', {

            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
            },
            responsive: true,
            sorting: false
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#clear").on('click', function () {
                $("select[name='category']").val("");
                $("select[name='region']").val("");
                $("select[name='town']").val("");
                $("select[name='tag']").val("");
                $("input[name='name']").val("");
                $("input[name='minScore']").val("");
                $("input[name='maxScore']").val("");
                $("input[name='minHours']").val("");
                $("input[name='maxHours']").val("");
                $("input[name='minPrice']").val("");
                $("input[name='maxPrice']").val("");
            });

            $("select[name='category']").on('change', function () {
                $("#search").trigger("click");
            })

            $("select[name='region']").on('change', function () {
                $("#search").trigger("click");
            })

            $("select[name='town']").on('change', function () {
                $("#search").trigger("click");
            })

            $("select[name='tag']").on('change', function () {
                $("#search").trigger("click");
            })


        });

    </script>

}
