@model RouteMaster.Models.ViewModels.ActivityIndexVM



<h2>Delete</h2>

<h3>你確認要刪除這項活動嗎?</h3>
<p>如果是想將活動下架，請返回清單頁面進行編輯</p>
<div>
    
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttractionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除活動" class="btn btn-danger" /> 
            <a href="@Url.Action("Index")" class="btn btn-primary">返回清單頁面</a>
        </div>
    }
</div>
