@model IEnumerable<RouteMaster.Models.ViewModels.ActivityIndexVM>



@{
    var activityCategories = ViewBag.ActivityCategoryId as SelectList;
    var attractions = ViewBag.AttractionId as SelectList;
    var regions = ViewBag.RegionId as SelectList;
    var criteria = ViewBag.Criteria as RouteMaster.Models.Infra.Criterias.ActivityIndexCriteria;
    string s_actCategoryId = criteria.ActivityCategoryId.HasValue ? criteria.ActivityCategoryId.Value.ToString() : "";
    string s_attractionId = criteria.AttractionId.HasValue ? criteria.AttractionId.Value.ToString() : "";
    string s_regionId = criteria.RegionId.HasValue ? criteria.RegionId.Value.ToString() : "";
}


@section Styles{



    <style>
        thead {
            background-color: gainsboro;
            color: white;
        }

        .table > thead {
            background-color: rgba(255, 99, 71, 0.4);
        }

        .table > thead th {
            font-size: 18px;
        }

        table > tbody tr {
            font-size: 13px;
            color: #697a8D;
        }

        .vertical-align-center {
            vertical-align: middle;
        }

        .small-button {
            padding: 5px 10px;
            font-size: 12px;
        }
        .no-wrap {
            white-space: nowrap;
        }
    </style>


}

@*<button class="btn btn-success" onclick="location.href='@Url.Action("Create")'">新增活動</button>*@

<h2>活動一覽</h2>

<button class="btn btn-success" onclick="location.href='@Url.Action("Create")'">新增活動</button>

<section class="container">
    <form method="get">
        <div class="row">

            <div class="row w-25">
                <label for="a_name">活動名稱</label>
                <input type="text" class="form-control" name="name" value="@criteria.Name" />
            </div>

            <div class="row w-25">
                <label for="s_actCategoryId">活動分類</label>
                <select name="activityCategoryId" id="s_actCategoryId" class="form-select">
                    @foreach (var item in activityCategories)
                    {
                        <option value="@item.Value" @(s_actCategoryId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>


            <div class="row w-25">
                <label for="s_attractionId">景點</label>
                <select name="attractionId" id="s_attractionId" class="form-select">
                    @foreach (var item in attractions)
                    {
                        <option value="@item.Value" @(s_attractionId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>



            <div class="row w-25">
                <label for="s_regionId">縣市</label>
                <select name="regionId" id="s_regionId" class="form-select">
                    @foreach (var item in regions)
                    {
                        <option value="@item.Value" @(s_regionId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>


            <div class="row w-25">
                <label for="s_minPrice" style="display: block">金額</label>
                <input type="number" class="form-control" name="minPrice" id="s_minPrice" style="width: 40%; display: inline" value="@criteria.MinPrice"> ~
                <input type="number" class="form-control" name="maxPrice" id="s_maxPrice" style="width: 40%; display: inline" value="@criteria.MaxPrice">
            </div>


            <div class="row w-50">
                <label for="s_minPrice" style="display: block">日期</label>
                <input type="date" class="form-control" name="startDate" id="s_startDate" style="width: 40%; display: inline" value="@criteria.StartDate"> ~
                <input type="date" class="form-control" name="endDate" id="s_endDate" style="width: 40%; display: inline" value="@criteria.EndDate">
            </div>
            <div class="row w-25 mt-5">
                <div class="col-auto">
                    <input type="checkbox" name="ShowAvailableOnly" id="status" @(criteria.ShowAvailableOnly ? "checked" : "") />
                </div>
                <div class="col">
                    <label for="status">只顯示上架中的活動</label>
                </div>
            </div>



            <div class="mb-3 col-md-2 mt-3  ">
                <button class="btn btn-warning" style="position: relative; right:-1050px ">搜尋</button>
            </div>


        </div>
    </form>
</section>








<table class="table table-hover vertical-align-center align-middle" id="activityIndexTable">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ActivityCategoryName)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.AttractionName)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.DescriptionText)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.StatusText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.ActivityCategoryName)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.AttractionName)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td class="col-md-3 ">
                    @Html.DisplayFor(modelItem => item.DescriptionText)
                </td>
                <td class="col-md-1 no-wrap">
                    @Html.DisplayFor(modelItem => item.StatusText)
                </td>
                <td class="col-md-2 no-wrap">
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary", style = "width: 70px; height: 30px; font-size:13px;" })
                    @Html.ActionLink("細節", "Details", new { id = item.Id }, new { @class = "btn btn-warning", style = "width: 70px; height: 30px; font-size:13px" })
                    @*@Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", style = "width: 70px; height: 40px;" })*@
                </td>
            </tr>
        }
    </tbody>

</table>


@section Scripts{




    <script>

        new DataTable('#activityIndexTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
            },
            responsive: true,
            searching: true,


            columnDefs: [
                { targets: [4, 5, 6], orderable: true },
                { targets: '_all', orderable: false },
                { targets: [0, 1, 3, 4, 5, 6, 8], searchable: false }
            ]
        });
    </script>

    <script>
    var statusCheckbox = document.querySelector('#status');

    statusCheckbox.addEventListener('change', function () {
        @criteria.ShowAvailableOnly =statusCheckbox.checked;
        statusCheckbox.value = statusCheckbox.checked ? 'true' : 'false';

    });
    </script>



}


