@model RouteMaster.Models.EFModels.PaymentMethod

@{
    ViewBag.Title = "Create";
}

<h2>新增付款方式</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "付款方式", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-4 col-md-10 mb-4 alert" role="alert">
        <div class="btn-group mb-3" role="group" aria-label="Save and Back buttons">
            <input type="submit" value="建立" class="btn btn-success" />
            <div class="btn-group" role="group" aria-label="Back button">
                @Html.ActionLink("回上頁", "Index", "", new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    @*<div class="form-group ,mb-3">
        <div class="col-md-offset-2 col-md-10 mb-3">
            <input type="submit" value="建立" class="btn btn-primary" />
        </div>
    </div>*@
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
