@model RouteMaster.Models.EFModels.PaymentMethod

@{
    ViewBag.Title = "Delete";
}

<h2>付款方式刪除</h2>

<h3>你確定要刪除嗎?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4 col-md-10 mb-4 alert" role="alert">
            <div class="btn-group mb-3" role="group" aria-label="Save and Back buttons">
                <button id="demo1" class="btn btn-danger" style="width:100px;">刪除</button>
                <div class="btn-group" role="group" aria-label="Back button">
                    @Html.ActionLink("回上頁", "Index", "", new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        <div class="form-actions mb-3">
            @*<input type="submit" value="刪除" class="btn btn-danger" />
                <br />
                <br />

                @Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
