@model IEnumerable<RouteMaster.Models.ViewModels.PaymentMethodIndexVM>
@section Styles
    {

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />

    <style>
        div.container {
            width: 960px;
        }

        thead {
            background-color: rgba(255, 99, 71, 0.4);
            color: #697A8D
        }

        tr {
            color: #697A8D
        }
    </style>
}

@{
    ViewBag.Title = "Index";
}

<h2 class="mb-4">付款方式管理</h2>

<div class="mb-3">
    @Html.ActionLink("建立新的付款方式", "Create", null, new { @class = "btn btn-outline-success" })
</div>

    

<table id="datatable" class="table" style="width:100%">
    <thead>
        <tr>
            <th class="ui-controlgroup-label " style="text-align:center;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="ui-controlgroup-label" style="text-align:center;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td class="ui-controlgroup-label" style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="ui-controlgroup-label" style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.id }, new { @class = "btn btn-primary", style = "width: 70px; height: 40px;" })
                    @Html.ActionLink("刪除", "Delete", new { id = item.id }, new { @class = "btn btn-danger", style = "width: 70px; height: 40px;" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>


    <script>

        new DataTable('#datatable', {
            ordering: false,
            searching: false,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
            },
            lengthMenu:
                [8, 15, 30]

        });
    </script>
}