@model RouteMaster.Models.ViewModels.Comments_AccommodationsChangeImgVM

@{
    ViewBag.Title = "ChangeImg";
}

<h2>變更圖片</h2>


@using (Html.BeginForm("ChangeImg", "Comments_Accommodations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ImgId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CommentId)

    <div class="mb-3">
        <img src="~/Uploads/@Model.Image" width="60%" />
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "form-label col-md-2" })

        <input type="file" name="file1" class="form-control" accept="image/*" />
        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

    </div>

    <div class="mb-3">

        <input type="submit" value="送出" class="btn btn-warning me-3"/>
        @Html.ActionLink("返回圖片庫", "ImgIndex", new { id = Model.CommentId }, new { @class = "btn btn-outline-secondary" })
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
