@model RouteMaster.Models.EFModels.Comments_Accommodations

@{
    ViewBag.Title = "Delete";
}

<h2>刪除此筆評論</h2>

<h3>確定要刪除此筆評論?</h3>
<div>
  
    <dl class="row">
        <dt>
            住宿名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accommodation.Name)
        </dd>

        <dt>
            用戶帳號
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Account)
        </dd>

        <dt>
            評論標題
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            優點
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pros)
        </dd>

        <dt>
           缺點
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cons)
        </dd>

        <dt>
           分數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
           建立時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="刪除" class="btn btn-danger me-3" /> 
    @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-primary" })
</div>
    }
</div>
