@model RouteMaster.Models.ViewModels.Comments_AccommodationsDetailVM

@{
    ViewBag.Title = "Details";
}



<div class="container mt-3">
    <div class="row">
        <div class="d-flex text-start">
            <h3 class="me-auto"> @Html.DisplayFor(model => model.MemberAccount)</h3>
            <div class="me-2">
                @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-dark" })

            </div>
        </div>
    </div>
    <hr />

    <div class="row gx-5">
        <dl class="col-4">
            <dt>


                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1 fs-3 fw-bold"> @Html.DisplayFor(model => model.AccomodationName)</h3>
                    <small class="fs-3 fw-bold align-top">@Html.DisplayFor(model => model.Score)分</small>
                </div>
            </dt>
            <dt class="fs-5">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pros)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pros)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cons)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cons)
            </dd>

        </dl>
        <div class="col-8">
            <div class="row row-cols-lg-3 g-3">

                @foreach (var item in Model.Images)
                {
                    <div class="col">
                        <img class="img-thumbnail" height="30%" src="~/Uploads/@item">
                    </div>

                }

            </div>
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
</p>
