@model RouteMaster.Models.ViewModels.Comments_AccommodationsDetailVM

@{
    ViewBag.Title = "Details";
}



<div class="container mt-3">
    <div class="row mb-1">
        <div class="d-flex text-start">
            <h3 class="me-auto">評論內文</h3>
            <div class="me-2">
                @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-dark" })

            </div>
        </div>
    </div>
    <hr />

    <div class="row gx-5">
        <dl class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.MemberAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemberAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccomodationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccomodationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Score)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pros)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pros)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cons)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cons)
            </dd>

        </dl>
        <div class="col-8">
            <div class="row row-cols-lg-3 g-3">

                @foreach (var item in Model.Images)
                {
                    <div class="col">
                        <img class="img-thumbnail" height="30%" src="~/Uploads/@item">
                    </div>

                }

            </div>
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
</p>
