@model IEnumerable<RouteMaster.Models.ViewModels.Comments_AccommodationsIndexVM>

@{
    ViewBag.Title = "Index";
    var sorts = ViewBag.SortId as SelectList;
    var criteria = (RouteMaster.Models.Infra.Criterias.Comments_AccommodationCriteria)ViewBag.Criteria;
    string s_sortId = criteria.SortId.HasValue ? criteria.SortId.Value.ToString() : "";
}

<h2>住宿評論清單</h2>

<section class="container">
    <form method="get">
        <div class="row">
            <div class="mb-3 col">
                <label for="hotel">住宿旅館關鍵字</label>
                <input type="text" class="form-control" name="AccomodationName" id="hotel" value="@criteria.AccomodationName">
            </div>
            <div class="mb-3 col">
                <label for="title">標題關鍵字</label>
                <input type="text" class="form-control" name="Title" id="title" value="@criteria.Title">
            </div>
            <div class="mb-3 col">
                <label for="s_sortId">排序條件</label>
                <select name="sortId" id="s_sortId" class="form-select">
                    @foreach (var item in sorts)
                    {
                        <option value="@item.Value" @(s_sortId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-2 align-self-end" >
                <button type="submit" class="btn btn-dark">搜尋</button>
            </div>
        </div>
    </form>
</section>






<p>
    @Html.ActionLink("新增評論", "Create", new { id = "" }, new { @class = "btn btn-outline-success" })
</p>
<table class="table table-light table-bordered border-primary align-middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th class="text-center">
            管理功能
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td class="text-center">
            @Html.ActionLink("修改", "Edit", new { id=item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("圖片庫", "ImgIndex", new { id=item.Id }, new { @class = "btn btn-outline-secondary ms-1 me-1" }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
