@model RouteMaster.Models.ViewModels.Comments_AccommodationsUploadImgVM

@{
    ViewBag.Title = "UploadImg";
    var parentId = ViewBag.ParentId;
}

<h2>新增圖片</h2>


@using (Html.BeginForm("UploadImg", "Comments_Accommodations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="mb-3">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        
            <input type="file" name="file1" class="form-control" multiple="multiple" accept="image/*" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="上傳" class="btn btn-success me-3"/>
            @Html.ActionLink("返回圖片庫", "ImgIndex", new { id = parentId }, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
