@model RouteMaster.Models.ViewModels.Accommodations.Room.RoomCreateVM

@{
    ViewBag.Title = "CreateRoom";
    var roomType = ViewBag.RoomType;
}

@using (Html.BeginForm("CreateRoom", "Accommodations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccommodationId)
    <div class="form-horizontal">
        <h4>RoomCreateVM</h4>
        <hr />

        <div class="row">
            <div class="col-4">

                <div class="mb-3">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*@Html.DropDownList("RoomType", null, htmlAttributes: new { @class = "form-control", @name = "Type" })*@
                        <select name="Type" id="s_categoryId" class="form-select">
                            @foreach (var type in roomType)
                            {
                                <option value="@type.Value">@type.Text</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="mb-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3" style="margin-top: 20px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submit-btn" type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>

            <div class="col-8">
                <div class="drop-zone" id="dropZone">
                    <label for="files" class="d-block w-100 h-100" id="fileLabel">
                        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <botton class="btn btn-primary"><i class="fa-solid fa-image"></i>新增照片</botton>
                            <span class="small d-block">或</span>
                            <p>拖曳照片到這裡</p>
                        </div>
                    </label>
                </div>
                <input id="files" type="file" name="files" class="form-control" multiple="multiple" accept="image/*" />
                <div class="image-preview" id="imagePreview"></div>
                <div class="d-flex justify-content-end">
                    <p class="small m-0" id="uploadContent"></p>
                </div>
                <div class="progress-bar-div ms-auto">
                    <div class="progress-bar h-100"></div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
