@model RouteMaster.Models.EFModels.Accommodation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndustryEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndustryEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
