@model IEnumerable<RouteMaster.Models.ViewModels.Accommodations.RoomIndexVM>

@{
    ViewBag.Title = "客房格局與價格";
}

@{ Html.RenderPartial("_AccommodationNavPartial", new RouteMaster.Models.Dto.Accommodation.NavDto { Id = ViewBag.Id, Parameter = "room" });}

<h2 class="ms-0">格局與價格</h2>
<hr />
<table class="table table-hover table-striped dataTable no-footer" id="roomTable">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row ms-0">
                <td class="col-4">
                    <h5 class="m-3">@Html.DisplayFor(modelItem => item.Name)</h5>
                </td>
                <td class="d-flex justify-content-end align-items-center col-3">
                    此類總數：<b>@Html.DisplayFor(modelItem => item.Quantity)</b>
                </td>
                <td class="col-3 d-flex justify-content-center align-items-center">
                    <a href="" data-></a>
                    @Html.ActionLink("編輯房間", "EditRoom", new { id = item.Id }, new { @class = "btn-css-primary" })
                    ｜
                    @*@Html.ActionLink("刪除房間", "DeleteRoom", new { id = item.Id }, new { @class = "btn-css-danger delete-accommodation", data_id = item.Id })*@
                    <input type="button" class="btn-css-danger delete-accommodation border-0" style="background-color:inherit" data-id="@item.Id" id="delete-accommodation-@item.Id" value="刪除房間" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end row">
    <p class="col-2">
        @Html.ActionLink("新增另一間客房資訊", "CreateRoom", new { id = ViewBag.Id }, new { @class = "btn btn-outline-success" })
    </p>
    <div class="col-2"></div>
</div>


@section Scripts{
    <script>

        let baseAddress = "https://localhost:44371";
        let delete_accommodation_btn = document.querySelectorAll(".delete-accommodation");
        delete_accommodation_btn.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', baseAddress + '/Accommodations/DeleteRoom', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            alert('刪除成功');
                            window.location.reload();
                        } else {
                            alert('刪除失敗');
                        }
                    }
                };
                var formData = new FormData();
                formData.append('id', id);
                xhr.send(formData);
            });
        });

        new DataTable('#roomTable', {

            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
            },
            responsive: true,
            sorting: false
        });
    </script>
}
