@model IEnumerable<RouteMaster.Models.ViewModels.ExtraServiceIndexVM>


@section  Styles{




    <style>
        thead {
            background-color: lightblue;
            color: black;
        }
    </style>


    <style>
        .addExtraService {
            background-color: lightblue
        }
    </style>

}
<div>
    <h2>額外服務一覽</h2>
    <input type="search" class="form-control form-control-sm" id="extPartialSearch">
    <button type="button" id="extPartialSearchBtn">搜索</button>
</div>



    <table  class="table table-striped table-hover" id="extraServiceTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttractionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        

      
        <tbody id="targetExtraServiceTBody">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttractionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary addExtraService" data-id="@item.Id">Add</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>





<script>

    //Fetch
    //分頁重寫
    document.addEventListener('DOMContentLoaded', function () {

        const searchBtn = document.querySelector('#extPartialSearchBtn');
        const searchInput = document.querySelector('#extPartialSearch');

        searchBtn.addEventListener('click', function () {

            
            var searchKeyword = searchInput.value;

            var data = new FormData();
            data.append('searchKeyword', searchKeyword);
            


            fetch('/PackageTours/SearchExtraService', {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: data
            })
                .then(response => response.json())
                //.then(html => {
                .then(data => {
                    var targetTBody = document.querySelector('#targetExtraServiceTBody');
                    targetTBody.innerHTML = '';

                        data.forEach(item => {
                        var tr = document.createElement('tr');
                        var td1 = document.createElement('td');
                        td1.textContent = item.Name;
                        tr.appendChild(td1);

                        var td2 = document.createElement('td');
                        td2.textContent = item.AttractionName;
                        tr.appendChild(td2);

                        var td3 = document.createElement('td');
                        td3.textContent = item.Price;
                        tr.appendChild(td3);

                        var td4 = document.createElement('td');
                        td4.textContent = item.Description;
                        tr.appendChild(td4);

                        var td5 = document.createElement('td');
                        td5.textContent = item.Status;
                        tr.appendChild(td5);

                        targetTBody.appendChild(tr);
                    });




                   
                })                
                .catch(error => {
                    // 處理請求錯誤
                    console.error('沒傳回前端');
                });
        });
    });
</script>


