@model RouteMaster.Models.ViewModels.PackageTourIndexVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PackageTourIndexVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponId)
        </dd>



        @foreach (var attraction in Model.Attractions)
        {
            <dd>@attraction.CategoryName</dd>
            <dd>@attraction.Name</dd>
            <dd>@attraction.Region</dd>
            <dd>@attraction.Address</dd>
            <dd>@attraction.Description</dd>
            <dd>@attraction.Website</dd>
            <dd>@attraction.AverageScore</dd>
            <dd>@attraction.AveragePrice</dd>
            <dd>@attraction.AverageStayHours</dd>
            <dd>@attraction.PositionX</dd>
            <dd>@attraction.PositionY</dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Activities)
        </dt>
        @foreach (var activity in Model.Activities)
        {
            <dd>@activity.ActivityCategoryName</dd>
            <dd>@activity.AttractionName</dd>
            <dd>@activity.Description</dd>
            <dd>@activity.StartTime</dd>
            <dd>@activity.EndTime</dd>
            <dd>@activity.Price</dd>
            <dd>@activity.Status</dd>
        }



        <dt>
            @Html.DisplayNameFor(Model => Model.ExtraServices)
        </dt>
        @foreach (var extraService in Model.ExtraServices)
        {
            <dd>@extraService.AttractionName</dd>
            <dd>@extraService.Name</dd>
            <dd>@extraService.Description</dd>
            <dd>@extraService.Price</dd>
            <dd>@extraService.Status</dd>

        }


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
