@model IEnumerable<RouteMaster.Models.ViewModels.PackageTourIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attractions)           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraServices)
        </th>

    </tr>



@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @if (item.Attractions != null)
            {
                foreach (var attraction in item.Attractions)
                {
                    <div>@attraction.Name</div>
                }
            }
            else
            {
                <div>No attractions available.</div>
            }
        </td>

        <td>
            @if (item.Activities != null)
            {
                foreach (var activity in item.Activities)
                {
                    <div class="d-flex">
                        <p class="m-3">景點:</p>
                        <div class="m-3">@activity.AttractionName</div>
                        <div class="m-3">@activity.Name</div>

                        @*<div>@activity.StartTime</div>
        <div>@activity.EndTime</div>*@
                        @*<div class="m-3">@activity.Price  </div>*@
                    </div>
                }
            }
            else
            {
                <div>No activities available.</div>
            }




        </td>


        <td>
            @if (item.ExtraServices != null)
            {
                foreach (var extraService in item.ExtraServices)
                {
                    <div class="d-flex">
                        <p class="m-3">景點: </p>
                        <div class="m-3">@extraService.AttractionName</div>
                        <div class="m-3">@extraService.Name</div>
                        @*<div class="m-3">@extraService.Price</div>*@
                      
                    </div>
                }
            }
            else
            {
                <div>No extraServices  available.</div>
            }

        </td>


        

        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
