@model RouteMaster.Models.EFModels.FAQ

@{
    ViewBag.Title = "Delete";
}

<h2>刪除此筆常見問題</h2>

<h3>確定要刪除此筆紀錄?</h3>
<div>
    
   
    <dl class="row">
        <dt>
            問題分類
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAQCategory.Name)
        </dd>

        <dt>
            問題
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            解決方法
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            有效幫助分數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Helpful)
        </dd>

        <dt>
            建立日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            修改日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="刪除" class="btn btn-warning me-3"/> 
    @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-outline-dark" })
</div>
    }
</div>
