@model RouteMaster.Models.ViewModels.FAQDetailVM

@{
    ViewBag.Title = "Details";
    var parentId = ViewBag.Id;
}



<div class="container mt-3">
    <div class="row">
        <div class="d-flex text-start">
            <h3 class="me-auto">問題內容</h3>
            <div class="me-2">
                @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-dark" })
                @Html.ActionLink("圖片編輯", "EditImgIndex", new { id = parentId }, new { @class = "btn btn-secondary" })

            </div>
        </div>
    </div>
    <hr />
 
    <div class="row gx-5">
        <dl class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Answer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Answer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Helpful)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Helpful)
            </dd>

        </dl>
        <div class="col-8">
            <div class="row row-cols-lg-3 g-3">

                @foreach (var item in Model.Images)
                {
                    <div class="col">
                        <img class="img-thumbnail" height="70%" src="~/Uploads/@item">
                    </div>

                }

            </div>
        </div>
    </div>
</div>

