@model IEnumerable<RouteMaster.Models.ViewModels.FAQIndexVM>
@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
    <style>
        .table > thead {
            background-color: rgba(255, 99, 71, 0.4);
        }

        .table > thead th {
                font-size: 18px;
        }

        #viewer{
            padding-left:60px;
        }
        #adjust {
            padding-left: 50px;
        }
    </style>
}
@{
    ViewBag.Title = "Index";
    var categories = ViewBag.CategoryId as SelectList;
    var sorts = ViewBag.SortId as SelectList;
    var criteria = (RouteMaster.Models.Infra.Criterias.FAQCriteria)ViewBag.Criteria;
    string s_categoryId = criteria.CategoryId.HasValue ? criteria.CategoryId.Value.ToString() : "";
    string s_sortId = criteria.SortId.HasValue ? criteria.SortId.Value.ToString() : "";
}

<h2>常見問題清單</h2>
<section class="container">
    <form method="get">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="s_categoryId">問題分類</label>
                <select name="categoryId" id="s_categoryId" class="form-select">
                    @foreach (var item in categories)
                    {
                        <option value="@item.Value" @(s_categoryId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>

            </div>

            <div class="mb-3 col-md-3">

                <label for="s_name">方法關鍵字</label>
                <input type="text" class="form-control" name="Answer" id="s_name" value="@criteria.Answer">

            </div>

            <div class="mb-3 col-md-4">
                <label for="s_sortId">排序條件</label>
                <select name="sortId" id="s_sortId" class="form-select">
                    @foreach (var item in sorts)
                    {
                        <option value="@item.Value" @(s_sortId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>

            </div>

            <div class="mb-3 col-md-2 align-self-end">
                <button class="btn btn-secondary me-2" id="clear">清空條件</button>
                <button class="btn btn-primary">搜尋</button>
            </div>
        </div>
    </form>
</section>
<p>
    @Html.ActionLink("新增常見問題", "Create", new { id = "" }, new { @class = "btn btn-outline-success" })
</p>
<table class="table" style="width:100%" id="FAQIndex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helpful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th id="viewer">管理功能</th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerText)
                </td>
                <td id="adjust">
                    @Html.DisplayFor(modelItem => item.Helpful)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("瀏覽", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("圖片庫", "EditImgIndex", new { id = item.Id }, new { @class = "btn btn-outline-secondary" }) |*@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
       
    new DataTable('#FAQIndex', {
        ordering: false,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json'
        },
        lengthMenu: 
            [8, 15, 30]
        
        });
        
    </script>
    <script>
        $(document).ready(function () {
            $("#FAQIndex_filter").css('display', 'none');
           
            $("#clear").on('click', function () {
                $("#s_categoryId").val("");
                $("#s_name").val("");
                $("#s_sortId").val("");
            });

        });
    </script>
}
