@model RouteMaster.Models.ViewModels.MemberSuspendVM

@{
    ViewBag.Title = "SuspendMember";
}

<h2>停用帳戶設定</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="row">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        @Html.LabelFor(model => model.IsSuspended,"停權",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="checkbox">
            @Html.EditorFor(model => model.IsSuspended)
            @Html.ValidationMessageFor(model => model.IsSuspended, "", new {  @class = "text-danger" })
        </div>
    </div>
    @*<div class="mb-3" name="">
        @Html.LabelFor(model => model.IsConfirmed,"停權設定", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="checkbox">
            @Html.EditorFor(model => model.IsConfirmed)
            @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="停權會員" class="btn btn-danger" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("取消變更", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
