@model RouteMaster.Models.ViewModels.Comments_AttractionsDetailVM
@{
    ViewBag.Title = "Details";
}

<div class="container mt-3">
    <div class="row">
        <div class="d-flex text-start">
            <h3 class="me-auto">評論內文</h3>
            <div class="me-2">
                @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-dark" })

            </div>
        </div>
    </div>
        <hr />

        <div class="row gx-5">
            <dl class="col-4">
                <dt>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1 fs-3 fw-bold">@Html.DisplayFor(model => model.AttractioName)</h3>
                        <small class="fs-3">@Html.DisplayFor(model => model.Score)分</small> 
                        </div>
                </dt>

                <dd>
                    
                </dd>

                @*<dt class="fs-5">
                    @Html.DisplayNameFor(model => model.Score)
                  
                </dt>

                <dd>
                     @Html.DisplayFor(model => model.Score)分
                   
                </dd>*@

                <dt class="fs-5">
                    @Html.DisplayNameFor(model => model.Content):
                </dt>

                <dd>
                    @*<textarea class="form-control w-100 mb-3 col-12"  style="margin:10px" rows="10" name="Description" readonly>@Model.Content</textarea>*@
                    @Html.DisplayFor(model => model.Content)
                </dd>

            </dl>
            <div class="col-8 text-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.Images)
                        {
                            if (Model.Images.Count() <= 1)
                            {
                                <div class="text-center">
                                    <img src="~/Uploads/@item" width="75%" />
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item active text-center">
                                    <img src="~/Uploads/@item" class="d-block w-75" alt="...">
                                </div>

                            }


                        }
                    </div>
                    <button class="carousel-control-prev ms-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon rounded-circle" aria-hidden="true" style="background-color:#67676799;"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next me-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon rounded-circle" aria-hidden="true" style="background-color:#67676799;"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
</div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    </p>


