@model RouteMaster.Models.ViewModels.Comments_AttractionsDetailVM
@{
    ViewBag.Title = "Details";
}

<div class="container mt-3">
    <div class="row">
        <div class="d-flex text-start">
            <h3 class="me-auto">評論內文</h3>
            <div class="me-2">
                @Html.ActionLink("返回清單頁", "Index", new { id = "" }, new { @class = "btn btn-dark" })

            </div>
        </div>
    </div>
        <hr />

        <div class="row gx-5">
            <dl class="col-4">
                <dt>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1 fs-3 fw-bold">@Html.DisplayFor(model => model.AttractioName)</h3>
                        <small class="fs-3">@Html.DisplayFor(model => model.Score)分</small> 
                </dt>

                <dd>
                    
                </dd>

                @*<dt class="fs-5">
                    @Html.DisplayNameFor(model => model.Score)
                  
                </dt>

                <dd>
                     @Html.DisplayFor(model => model.Score)分
                   
                </dd>*@

                <dt class="fs-5">
                    @Html.DisplayNameFor(model => model.Content):
                </dt>

                <dd>
                    @*<textarea class="form-control w-100 mb-3 col-12"  style="margin:10px" rows="10" name="Description" readonly>@Model.Content</textarea>*@
                    @Html.DisplayFor(model => model.Content)
                </dd>

            </dl>
            <div class="col-8">
                <div class="row row-cols-lg-3 g-3">

                    @foreach (var item in Model.Images)
                    {
                        <div class="col">
                        <img class="img-thumbnail" height="70%" src="~/Uploads/@item">
                        </div>
                        
                    }

                </div>
            </div>
        </div>
</div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    </p>


