@model IEnumerable<RouteMaster.Models.ViewModels.Comments_AttractionsIndexVM>

@{
    ViewBag.Title = "Index";
    var sorts = ViewBag.SortId as SelectList;
    var criteria = (RouteMaster.Models.Infra.Criterias.Comments_AttractionCriteria)ViewBag.Criteria;
    string s_sortId = criteria.SortId.HasValue ? criteria.SortId.Value.ToString() : "";
}

<h2>景點評論清單</h2>

<section class="container">
    <form method="get">
        <div class="row">
            <div class="mb-3 col-4">
                <label for="spot">景點關鍵字</label>
                <input type="text" class="form-control" name="AttractionName" id="spot" value="@criteria.AttractionName">
            </div>
            <div class="mb-3 col-4">
                <label for="s_sortId">排序條件</label>
                <select name="sortId" id="s_sortId" class="form-select">
                    @foreach (var item in sorts)
                    {
                        <option value="@item.Value" @(s_sortId == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-2 align-self-end">
                <button type="submit" class="btn btn-dark">搜尋</button>
            </div>
        </div>
    </form>
</section>
<p>
    @Html.ActionLink("新增評論", "Create", new { id = "" }, new { @class = "btn btn-outline-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StayHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StayHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
