@model RouteMaster.Models.EFModels.Partner

@{
    ViewBag.Title = "Details";
}

<h2>詳細資料</h2>

<div>
    <h4>Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncryptedPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncryptedPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuspended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuspended)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回主頁", "Index")
</p>
