@model IEnumerable<RouteMaster.Models.ViewModels.AccomodationDetailsVM>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.AccommodationId)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.AccommodationName)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.AccommodationId)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.AccommodationName)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RoomPrice)
                </td>*@
            <td class="control-label col-md-3" style="text-align: center" id="RoomPrice">
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "AccomodationDetailsEdit", new { id = item.Id }, new {@class="btn-css-primary"} ) |
                @Html.ActionLink("Delete", "AccomodationDetailsDelete", new { id = item.Id }, new {@class="btn-css-warning"})

            </td>

        </tr>
    }

</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    //$(window).on('load', function () {
    //    var roomPriceElements = $('.control-label.col-md-3#RoomPrice');

    //    var totalPrice = 0;

    //    for (var i = 0; i < roomPriceElements.length; i++) {
    //        var roomPrice = parseFloat($(roomPriceElements[i]).text().replace('$', '').replace(',', ''));

    //        if (!isNaN(roomPrice)) {
    //            totalPrice += roomPrice;
    //        }
    //    }

    //    $('#totalPrice').val('$' + totalPrice.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    //});

 </script>
