@model IEnumerable<RouteMaster.Models.ViewModels.ExtraServicesDetailsVM>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

</p>


<table class="table">
    <tr>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.ExtraServiceId)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.ExtraServiceName)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="control-label" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td class="control-label" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ExtraServiceId)
            </td>
            <td class="control-label" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ExtraServiceName)
            </td>
            @*<td class="Price">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>*@
            <td class="control-label col-md-3" style="text-align: center" id="price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td class="Quantity">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>*@
            <td class="control-label col-md-3" style="text-align: center" id="quantity">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.ActionLink("Edit", "ExtraServicesDetailsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "ExtraServicesDetailsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   //$(window).on('load', function () {
   // var priceElements = $('.control-label.col-md-3#price');
   // var quantityElements = $('.control-label.col-md-3#quantity');

   // var totalPrice = 0;

   // for (var i = 0; i < priceElements.length; i++) {
   //     var price = parseFloat($(priceElements[i]).text().replace('$', '').replace(',', ''));
   //     var quantity = parseInt($(quantityElements[i]).text());
   //     if (!isNaN(price) && !isNaN(quantity)) {
   //         totalPrice += price * quantity;
   //     }
   // }

   // $('#totalPrice').val('$' + totalPrice.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

   
       

  
   
/*});*/
</script>