@model IEnumerable<RouteMaster.Models.ViewModels.ActivitiesDetailsIndexVM>

<p>
    @*@html.actionlink("create new", "create")*@
</p>

@*@foreach (var orderGroup in Model.GroupBy(item => item.OrderId))
    {
        var orderId = orderGroup.Key;
        var orderDetails = orderGroup.ToList();*@

@*<h3>Order ID: @orderId</h3>*@
<table class="table">
    <tr>
        <th class="control-label col-md" style="text-align: center;">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th class="control-label col-md" style="text-align: center;">
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th class="control-label col-md-3" style="text-align: center;">
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th class="control-label col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="control-label col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="control-label " style="text-align: center;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="control-label" style="text-align: center;">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="control-label col-md" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td class="control-label col-md" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td class="control-labelcol-md-3" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td class="control-label col-md-2" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td class="control-label col-md-2" style="text-align:center;">
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td class="control-label col-md" style="text-align: center" id="Activitiesprice">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="control-label col-md" style="text-align: center" id="Activitiesquantity">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="control-label col-md-2">
                @Html.ActionLink("Edit", "ActivitiesDetailsEdit", new { id = item.Id }, new { @class = "btn-css-primary" }) |
                @Html.ActionLink("Delete", "ActivitiesDetailsDelete", new { id = item.Id }, new { @class = "btn-css-warning" })
                
            </td>
        </tr>
    }            
    
</table>
@*}*@
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(window).on('load', function () {
        var Activitiesprice = $('.control-label.col-md-3#Activitiesprice');
        var Activitiesquantity = $('.control-label.col-md-3#Activitiesquantity');
        var totalPrice = 0;

        for (var i = 0; i < Activitiesprice.length; i++) {
            var ActPrice = parseFloat($(Activitiesprice[i]).text().replace('$', '').replace(',', ''));
            var ActQuantity = parseInt($(Activitiesquantity[i]).text());

            if (!isNaN(ActPrice) && !isNaN(ActQuantity)) {
                totalPrice += ActPrice * ActQuantity;
            }
        }

        $('#totalPrice').val('$' + totalPrice.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        console.log(totalPrice)
    });

</script>*@

