@model RouteMaster.Models.ViewModels.ExtraServicesDetailsVM

@{
    ViewBag.Title = "ExtraServicesDetailsDelete";
}

<h2>額外服務項目訂單管理</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="col-md-4 col-md-10 mb-4 alert" role="alert">
            <div class="btn-group mb-3" role="group" aria-label="delete and Back buttons">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <div class="btn-group" role="group" aria-label="Back button">
                    @Html.ActionLink("回上頁", "Index", "", new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    }
</div>