@model IEnumerable<RouteMaster.Models.ViewModels.OrderIndexVM>
@section Styles
{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style>
        thead {
            background-color: maroon;
            color: white;
        }
    </style>
}

@{
    ViewBag.Title = "Index";
    var paymentStatus = ViewBag.paymentStatus as SelectList;
    var criteria = ViewBag.Criteria as RouteMaster.Models.Infra.Criterias.OrderCriteria;
    string s_paymentstatus = criteria.PaymentStatus.HasValue ? criteria.PaymentStatus.Value.ToString() : "";
}
<h2>訂單管理</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

</p>
<section class="container">
    <form method="get">
        <div class="row">
            <div class="mb-2 col-md-3">
                <label for="MemberName">訂購人</label>
                <input type="text" class="form-control" name="membername" id="MemberName" value="@criteria.MemberName" />
            </div>

            <div class="mb-2 col-md-2">
                <label for="s_PaymentStatus">付款狀態</label>
                <select name="paymentStatus" id="s_PaymentStatus" class="form-select">
                    @foreach (var item in paymentStatus)
                    {
                        <option value="@item.Value" @(s_paymentstatus == item.Value ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-md-4">
                <label for="s_CreateDate" style="display: block">訂購日期</label>
                <input type="date" class="form-control" name="CreateStartDate" id="s_CreateStartDate" style="width: 40%; display: inline" value="@criteria.CreateStartDate"> ~
                <input type="date" class="form-control" name="CreateEndDate" id="s_CreateEndDate" style="width: 40%; display: inline" value="@criteria.CreateEndDate">
            </div>


            <div class="mb-3 col-md-2 align-self-end">
                <button class="btn btn-primary">搜尋</button>
            </div>

        </div>
    </form>

</section>

<table id="orderTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>MemberName</th>
            <th>PaymentMethodName</th>
            <th>CreateDate</th>
            <th>Total</th>
            <th>PaymentStatusText</th>
        </tr>
    </thead>
    <tbody>
        <!-- 数据行 -->
    </tbody>
</table>

<table class="table">
    <tr>

        <th class="control-label col-md-1" style="text-align: center;">
            @Html.DisplayNameFor(model => model.Id)
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>*@

        <th class="control-label col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PaymentMethodId)
            </th>*@
        <th class="control-label col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.PaymentMethodName)
        </th>
        <th class="control-label col-md-3" style="text-align: center;">
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th class="control-label col-md-1" style="text-align: center;">
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th class="control-label col-md-1" style="text-align: center;">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td class="control-label col-md-1" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>*@
            <td class="control-label col-md-2" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PaymentMethodId)
                </td>*@
            <td class="control-label col-md-2" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.PaymentMethodName)
            </td>

            <td class="control-label col-md-3" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td class="control-label col-md-1" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td class="control-label col-md-1" style="text-align: center;">
                @Html.DisplayFor(modelItem => item.PaymentStatusText)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <script>
        var baseAddress = "https://localhost:44371";
        $(document).ready(function () {
            $("#orderTable").dataTable({
                ajax: {
                    type: "GET",
                    url: `${baseAddress}/Orders/GetOrders/`,
                    dataSrc: function (data) {
                        console.log(data);
                        return data;
                    }
                },
                columns: [
                    { "data": "Id", "width": "15%" },
                    { "data": "MemberName", "width": "15%" },
                    { "data": "PaymentMethodName", "width": "15%" },
                    { "data": "CreateDate", "width": "15%" },
                    { "data": "Total", "width": "15%" },
                    { "data": "PaymentStatusText", "width": "15%" }
                ]
            });
        });
    </script>
}

