@model RouteMaster.Models.EFModels.TravelPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TravelPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
